@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap");
@import-normalize;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  background: #444;
  color: #f00;
  font-size: 6em;
}
